<app-side-menu></app-side-menu> <a routerLink="/">BACK</a><br /><br />
<div class="row" *ngIf="user$ | async as user">
  <div class="user-info">
    <div>Name: {{ user.displayName }}</div>
    <div>Email: {{ user.email }}</div>
    <app-image
      [lowUrl]="user.photoURL == null ? '' : user.photoURL"
    ></app-image>
    <div>{{ uploading$ | async | number: "1.0-0" }}</div>
  </div>
  <input type="file" (change)="onFileSelected($event)" /><br /><br />
  <div *ngIf="files$ | async as files" class="col-6">
    <p>Files:</p>
    <div *ngFor="let file of files" class="m-3">
      <p>
        {{ file.name }} | {{ file.userIP }} |
        <a [download]="file.name" [href]="file.downloadUrl" title="ImageName"
          >Download</a
        >
      </p>
    </div>
  </div>
</div>
