.container {
  height: 100vh;
  width: calc(100% - 60px);
  margin-left: 60px;

  p {
    font-size: 30px;
    text-align: start;
  }

  .description {
    color: gray;
    font-size: small;
    margin-top: -15px;
  }

  .id-show {
    color: gray;
    font-size: small;
  }
}
