<app-side-menu></app-side-menu>
<div class="ms-5 ps-5 pt-5 w-75">
  <h1>GPX Web editor</h1>
  <h3>Vítejte v aplikaci GPX Web editor.</h3>
  <p>
    Tato webová aplikace slouží pro úpravu a ukládání souborů ve formátu GPX. GPX je formát pro ukládání tras, bodů a
    cest v mapě. Aplikace byla vytvořena v rámci bakalářské práce v roce 2023 a je nasazená na do prostředí Firebase.
    Aplikace má v tuto chvíli limitované využítí na maximálne 10 souborů na uživatele.
  </p>
  <p>
    GitHub repozitář:
    <a href="https://github.com/stanek-r/gpx-web-editor">https://github.com/stanek-r/gpx-web-editor</a>
  </p>
  <div class="mt-5">
    <h3>Soubory:</h3>
    <p>Možnost nahrávat/stahovat/editovat a vytvářet jednotlivé GPX soubory a následně je zobrazit a upravit na mapě</p>
    <p>Možnost přesouvat a upravovat jednotlivé elementy v souboru</p>
    <a class="btn btn-primary" routerLink="/editor">Přejít na soubory</a>
  </div>
  <div class="mt-5">
    <h3>Projekty:</h3>
    <p>
      Slouží pro sjednocení GPX souborů do většího celku. Projekt může být zobrazen na mapě a jednotlivé GPX soubory
      budou editovatelné najednou. Celý projekt zle následně exportovat do jednoho GPX souboru. Případně je možné jeden
      soubor rozdělit do nového pomocí exportu.
    </p>
    <a class="btn btn-primary" routerLink="/projects">Přejít na projekty</a>
  </div>
  <div *ngIf="fireUser$ | async as fireUser" class="mt-5">
    <h3>Současný uživatel:</h3>
    <h5>{{ fireUser.displayName }}</h5>
    Email: {{ fireUser.email }}<br /><br />
    <img [src]="fireUser.photoURL" alt="User image" *ngIf="fireUser.photoURL" />
  </div>
</div>
