<agm-map [latitude]="lat" [longitude]="long" [zoom]="zoom">
  <agm-direction
    *ngFor="let mapData of routes; let i = index"
    [origin]="mapData.start"
    [destination]="mapData.end"
    [markerOptions]="markerOptions"
    [renderOptions]="renderOptions"
    (originDrag)="markerDragStart($event, i)"
    (destinationDrag)="markerDragEnd($event, i)"
    [travelMode]="travelMode"
  ></agm-direction> </agm-map
><br />
<label for="latitude">Latitude:</label>
<input
  type="number"
  id="latitude"
  name="latitude"
  value="49.83815"
  #latitude
/><br />
<label for="longtitude">Longtitude:</label>
<input
  type="number"
  id="longtitude"
  name="longtitude"
  value="18.2838842"
  #longtitude
/><br />
<button (click)="addPoint()">Add point</button><br /><br />
<button (click)="removePoint()">Remove last point</button>
