<app-side-menu
  [backUrl]="backToDetail ? '/editor/' + id : '/editor'"
></app-side-menu>
<div class="map-div">
  <button
    type="button"
    class="save-button btn btn-primary"
    *ngIf="changed"
    (click)="save()"
  >
    Save
  </button>
  <!--    *ngIf="!travelMode; else otherModes"-->
  <agm-map
    *ngIf="fileData && lat && lng"
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
  >
    <agm-marker
      *ngFor="let point of fileData?.waypoints; let i = index"
      [latitude]="point.lat"
      [longitude]="point.lon"
      [opacity]="
        selectedType === 'waypoints' && selectedIndex === i ? 1.0 : 0.88
      "
    ></agm-marker>
    <ng-container *ngFor="let track of fileData?.tracks; let i1 = index">
      <agm-marker
        *ngFor="let point of track.points; let i2 = index"
        [latitude]="point.lat"
        [longitude]="point.lon"
        [opacity]="
          selectedType === 'tracks' &&
          selectedIndex === i1 &&
          subSelectedIndex === i2
            ? 1.0
            : 0.88
        "
      ></agm-marker>
      <agm-polyline
        [strokeColor]="
          selectedType === 'tracks' && selectedIndex === i1
            ? '#8B0000'
            : '#556B2F'
        "
        [strokeWeight]="
          selectedType === 'tracks' && selectedIndex === i1 ? 10 : 5
        "
      >
        <agm-polyline-point
          *ngFor="let mapData of track.points"
          [latitude]="mapData.lat"
          [longitude]="mapData.lon"
        ></agm-polyline-point>
      </agm-polyline>
    </ng-container>
    <ng-container *ngFor="let route of fileData?.routes; let i1 = index">
      <agm-marker
        *ngFor="let point of route.points; let i2 = index"
        [latitude]="point.lat"
        [longitude]="point.lon"
        [opacity]="
          selectedType === 'routes' &&
          selectedIndex === i1 &&
          subSelectedIndex === i2
            ? 1.0
            : 0.88
        "
      ></agm-marker>
      <agm-polyline
        [strokeColor]="
          selectedType === 'routes' && selectedIndex === i1
            ? '#8B0000'
            : '#008B8B'
        "
        [strokeWeight]="
          selectedType === 'routes' && selectedIndex === i1 ? 10 : 5
        "
      >
        <agm-polyline-point
          *ngFor="let mapData of route.points"
          [latitude]="mapData.lat"
          [longitude]="mapData.lon"
        ></agm-polyline-point>
      </agm-polyline>
    </ng-container>
  </agm-map>
  <!--    <ng-template #otherModes>-->
  <!--      <agm-map>-->
  <!--        <agm-direction-->
  <!--          *ngFor="let mapData of routes; let i = index"-->
  <!--          [origin]="mapData.start"-->
  <!--          [destination]="mapData.end"-->
  <!--          [markerOptions]="markerOptions"-->
  <!--          [renderOptions]="renderOptions"-->
  <!--          [travelMode]="travelMode"-->
  <!--        ></agm-direction>-->
  <!--      </agm-map>-->
  <!--    </ng-template>-->
</div>
