<app-side-menu [backUrl]="getBackUrl()"></app-side-menu>
<div class="map-div" *ngIf="files.length > 0">
  <div class="information-table" *ngIf="getSelectedPoint() as selectedPoint">
    <div class="d-flex justify-content-center" *ngIf="project">
      <h4>{{ files[selectedFile].metadata?.name }}</h4>
    </div>
    <div class="d-flex justify-content-center" [ngClass]="project ? 'mt-2' : ''">
      <h5 *ngIf="selectedType === 'waypoints'">Bod zájmu {{ selectedIndex + 1 }}</h5>
      <h5 *ngIf="selectedType === 'tracks'">Stopa {{ selectedIndex + 1 }}</h5>
      <h5 *ngIf="selectedType === 'routes'">Trasa {{ selectedIndex + 1 }}</h5>
    </div>
    <ng-container *ngIf="getSelectedSection() as selectedSection">
      <span>Jméno: {{ selectedSection.name }}</span>
      <span>Popis: {{ selectedSection.desc }}</span>
      <span>Typ: {{ selectedSection.type }}</span>
      <span>Počet bodů: {{ selectedSection.points.length }}</span>
    </ng-container>
    <div class="d-flex justify-content-center my-3" *ngIf="selectedType !== 'waypoints'">
      <select class="form-select" [(ngModel)]="subSelectedIndex" *ngIf="getSelectedSection() as selectedSection">
        <option *ngFor="let i of [].constructor(selectedSection.points.length); let index = index" [ngValue]="index">
          Bod {{ index + 1 }}
        </option>
      </select>
    </div>
    <ng-container *ngIf="selectedType === 'waypoints'">
      <span>Jméno {{ selectedPoint['name'] }}</span>
      <span>Popis: {{ selectedPoint['desc'] }}</span>
      <span>Komentář: {{ selectedPoint['cmt'] }}</span>
    </ng-container>
    <span>Šířka: {{ selectedPoint.lat }}</span>
    <span>Délka: {{ selectedPoint.lon }}</span>
    <span *ngIf="selectedPoint.ele && selectedPoint.ele > 0">Výška: {{ selectedPoint.ele }}</span>
    <span *ngIf="selectedPoint.time">Time: {{ selectedPoint.time | date }}</span>
    <div class="d-flex gap-2 mt-3" *ngIf="selectedType === 'waypoints'">
      <button type="button" class="btn btn-primary w-50 text-nowrap" (click)="editElement(false)">
        Editovat bod zájmu
      </button>
      <button type="button" class="btn btn-warning w-50 text-nowrap" (click)="removePoint(selectedIndex)">
        Smazat bod zájmu
      </button>
    </div>
    <div class="d-flex flex-column gap-2 mt-3" *ngIf="selectedType !== 'waypoints'">
      <div class="d-flex gap-2">
        <button type="button" class="btn btn-primary w-50 text-nowrap" (click)="editElement(true)">Editovat bod</button>
        <button type="button" class="btn btn-warning w-50 text-nowrap" (click)="removePoint(subSelectedIndex)">
          Smazat bod
        </button>
      </div>
      <div class="d-flex gap-2">
        <ng-container *ngIf="selectedType === 'routes'; else editTracks">
          <button type="button" class="btn btn-primary w-50 text-nowrap" (click)="editElement(false)">
            Editovat trasu
          </button>
          <button type="button" class="btn btn-danger w-50 text-nowrap" (click)="removeGroup('Smazat trasu?')">
            Smazat trasu
          </button>
        </ng-container>
        <ng-template #editTracks>
          <button type="button" class="btn btn-primary w-50 text-nowrap" (click)="editElement(false)">
            Editovat stopu
          </button>
          <button type="button" class="btn btn-danger w-50 text-nowrap" (click)="removeGroup('Smazat stopu?')">
            Smazat stopu
          </button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="side-menu gap-3">
    <div class="d-flex justify-content-md-center align-items-center">
      <h4>Informace</h4>
    </div>
    <ng-container *ngIf="project">
      <select class="form-select" [(ngModel)]="selectedFile" (ngModelChange)="showPointInfo = false">
        <option *ngFor="let file of files; let i = index" [value]="i">
          {{ file.metadata?.name }}
        </option>
      </select>
    </ng-container>
    <select class="form-select" [(ngModel)]="selectedType" (ngModelChange)="showPointInfo = false">
      <option value="waypoints">Body zájmu</option>
      <option value="tracks">Stopy</option>
      <option value="routes">Trasy</option>
    </select>
    <mat-slide-toggle [(ngModel)]="addPoint">Mód přidávání bodů</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="editTracks">Zobrazovat body na stopách</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="editRoutes">Zobrazovat body na trasách</mat-slide-toggle>
    <button (click)="addGroup()" class="btn btn-primary" *ngIf="selectedType !== 'waypoints'">
      Přidat {{ selectedType === 'tracks' ? 'stopu' : 'trasu' }}
    </button>
    <button (click)="addPointManually()" class="btn btn-primary" *ngIf="canAddPointManually()">Přidat bod</button>
    <div class="element-list">
      <ng-container *ngIf="selectedType === 'waypoints'">
        <div
          *ngFor="let point of files[selectedFile].waypoints; let i = index"
          class="d-flex flex-column cursor-pointer"
          (click)="waypointClick(selectedFile, i)"
        >
          <span [ngClass]="selectedIndex === i && showPointInfo ? 'font-weight-bold' : ''">Bod zájmu {{ i + 1 }}</span>
          <span>Jméno: {{ point.name }}</span>
        </div>
      </ng-container>
      <ng-container *ngIf="selectedType === 'tracks'">
        <div
          *ngFor="let group of files[selectedFile].tracks; let i = index"
          class="d-flex flex-column cursor-pointer"
          (click)="trackPointClick(selectedFile, i, 0)"
        >
          <span [ngClass]="selectedIndex === i && showPointInfo ? 'font-weight-bold' : ''">Stopa {{ i + 1 }}</span>
          <span>Jméno: {{ group.name }}</span>
          <span>Počet bodů: {{ group.points.length }}</span>
        </div>
      </ng-container>
      <ng-container *ngIf="selectedType === 'routes'">
        <div
          *ngFor="let group of files[selectedFile].routes; let i = index"
          class="d-flex flex-column cursor-pointer"
          (click)="routePointClick(selectedFile, i, 0)"
        >
          <span [ngClass]="selectedIndex === i && showPointInfo ? 'font-weight-bold' : ''">Trasa {{ i + 1 }}</span>
          <span>Jméno: {{ group.name }}</span>
          <span>Počet bodů: {{ group.points.length }}</span>
        </div>
      </ng-container>
    </div>
    <div class="d-flex flex-column gap-2">
      <button
        type="button"
        class="btn btn-secondary d-flex justify-content-center gap-2"
        (click)="joinPointGroups()"
        *ngIf="showJoinPointGroupButton()"
      >
        <mat-icon>link</mat-icon>
        <span>Spojit skupinu bodů</span>
      </button>
      <button type="button" class="btn btn-secondary d-flex justify-content-center gap-2" (click)="splitFile()">
        <mat-icon>queue_play_next</mat-icon>
        <span>Rozdělit soubor</span>
      </button>
      <button type="button" class="btn btn-secondary d-flex justify-content-center gap-2" (click)="moveElements()">
        <mat-icon>file_copy</mat-icon>
        <span>Přesun elementů</span>
      </button>
    </div>
  </div>
  <div class="save-button" *ngIf="changed">
    <button type="button" class="btn btn-primary d-flex justify-content-center gap-2" (click)="save()">
      <mat-icon>save</mat-icon>
      <span>Uložit změny</span>
    </button>
  </div>
  <agm-map
    *ngIf="lat && lng && zoom"
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    (mapClick)="mapClick($event)"
    (mapRightClick)="mapRightClick()"
    [streetViewControl]="false"
  >
    <ng-container *ngFor="let file of files; let fileIndex = index">
      <agm-marker
        *ngFor="let point of file.waypoints; let i = index"
        [latitude]="point.lat"
        [longitude]="point.lon"
        (dragEnd)="waypointDrag($event, fileIndex, i)"
        (markerClick)="waypointClick(fileIndex, i)"
        (markerRightClick)="waypointRightClick(fileIndex, i)"
        [iconUrl]="isSelected('waypoints', fileIndex, i) ? '/assets/icon-selected.png' : '/assets/icon-default.png'"
        [markerDraggable]="true"
      ></agm-marker>
      <ng-container *ngFor="let track of file.tracks; let i1 = index">
        <ng-container *ngIf="editTracks">
          <agm-marker
            *ngFor="let point of track.points; let i2 = index"
            [latitude]="point.lat"
            [longitude]="point.lon"
            (dragEnd)="trackPointDrag($event, fileIndex, i1, i2)"
            (markerClick)="trackPointClick(fileIndex, i1, i2)"
            (markerRightClick)="trackPointRightClick(fileIndex, i1, i2)"
            [iconUrl]="
              isSelected('tracks', fileIndex, i1, i2) ? '/assets/icon-selected.png' : '/assets/icon-default.png'
            "
            [markerDraggable]="true"
          ></agm-marker>
        </ng-container>
        <agm-polyline
          [strokeColor]="isSelected('tracks', fileIndex, i1) ? '#8B0000' : '#556B2F'"
          [strokeWeight]="isSelected('tracks', fileIndex, i1) ? 10 : 5"
          (lineClick)="trackLineClick(fileIndex, i1)"
        >
          <agm-polyline-point
            *ngFor="let mapData of track.points"
            [latitude]="mapData.lat"
            [longitude]="mapData.lon"
          ></agm-polyline-point>
        </agm-polyline>
      </ng-container>
      <ng-container *ngFor="let route of file.routes; let i1 = index">
        <ng-container *ngIf="editRoutes">
          <agm-marker
            *ngFor="let point of route.points; let i2 = index"
            [latitude]="point.lat"
            [longitude]="point.lon"
            (dragEnd)="routePointDrag($event, fileIndex, i1, i2)"
            (markerClick)="routePointClick(fileIndex, i1, i2)"
            (markerRightClick)="routePointRightClick(fileIndex, i1, i2)"
            [iconUrl]="
              isSelected('routes', fileIndex, i1, i2) ? '/assets/icon-selected.png' : '/assets/icon-default.png'
            "
            [markerDraggable]="true"
          ></agm-marker>
        </ng-container>
        <agm-polyline
          [strokeColor]="isSelected('routes', fileIndex, i1) ? '#8B0000' : '#008B8B'"
          [strokeWeight]="isSelected('routes', fileIndex, i1) ? 10 : 5"
          (lineClick)="routeLineClick(fileIndex, i1)"
        >
          <agm-polyline-point
            *ngFor="let mapData of route.points"
            [latitude]="mapData.lat"
            [longitude]="mapData.lon"
          ></agm-polyline-point>
        </agm-polyline>
      </ng-container>
    </ng-container>
  </agm-map>
</div>
