<app-side-menu
  [backUrl]="
    backToDetail
      ? '/editor/' + id
      : backProject
      ? '/projects/' + backProject
      : '/editor'
  "
></app-side-menu>
<div class="map-div">
  <button
    type="button"
    class="save-button btn btn-primary"
    *ngIf="changed"
    (click)="save()"
  >
    Save
  </button>
  <div class="information-table" *ngIf="getSelectedPoint() as selectedPoint">
    <div class="d-flex justify-content-center">
      <h4 *ngIf="selectedType === 'waypoints'">Bod {{ selectedIndex + 1 }}</h4>
      <h4 *ngIf="selectedType === 'tracks'">Trasa {{ selectedIndex + 1 }}</h4>
      <h4 *ngIf="selectedType === 'routes'">Cesta {{ selectedIndex + 1 }}</h4>
    </div>
    <ng-container *ngIf="getSelectedSection() as selectedSection">
      <span>Jméno: {{ selectedSection.name }}</span>
      <span>Popis: {{ selectedSection.desc }}</span>
      <span>Typ: {{ selectedSection.type }}</span>
      <span>Počet bodů: {{ selectedSection.points.length }}</span>
    </ng-container>
    <div
      class="d-flex justify-content-center mt-3"
      *ngIf="selectedType !== 'waypoints'"
    >
      <h6>Bod {{ subSelectedIndex + 1 }}</h6>
    </div>
    <ng-container *ngIf="selectedType === 'waypoints'">
      <span>Jméno {{ selectedPoint["name"] }}</span>
      <span>Popis: {{ selectedPoint["desc"] }}</span>
      <span>Komentář: {{ selectedPoint["cmt"] }}</span>
    </ng-container>
    <span>Lat: {{ selectedPoint.lat }}</span>
    <span>Lon: {{ selectedPoint.lon }}</span>
    <span *ngIf="selectedPoint.ele && selectedPoint.ele > 0"
      >Ele: {{ selectedPoint.ele }}</span
    >
    <span *ngIf="selectedPoint.time"
      >Time: {{ selectedPoint.time | date }}</span
    >
    <div
      class="d-flex justify-content-center mt-3"
      *ngIf="selectedType === 'waypoints'"
    >
      <button
        type="button"
        class="btn btn-warning"
        (click)="removePoint(selectedIndex)"
      >
        Smazat bod
      </button>
    </div>
    <div
      class="d-flex gap-2 justify-content-center mt-3"
      *ngIf="selectedType !== 'waypoints'"
    >
      <button
        type="button"
        class="btn btn-warning"
        (click)="removePoint(subSelectedIndex)"
      >
        Smazat bod
      </button>
      <button
        type="button"
        class="btn btn-danger"
        *ngIf="selectedType === 'routes'"
        (click)="RemoveGroup()"
      >
        Smazat cestu
      </button>
      <button
        type="button"
        class="btn btn-danger"
        *ngIf="selectedType === 'tracks'"
        (click)="RemoveGroup()"
      >
        Smazat trasu
      </button>
    </div>
  </div>
  <!--    *ngIf="!travelMode; else otherModes"-->
  <agm-map
    *ngIf="fileData && lat && lng"
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    (mapClick)="mapClick($event)"
  >
    <agm-marker
      *ngFor="let point of fileData?.waypoints; let i = index"
      [latitude]="point.lat"
      [longitude]="point.lon"
      (dragEnd)="waypointDrag($event, i)"
      (markerClick)="waypointClick(i)"
      [markerDraggable]="true"
      [opacity]="
        showPointInfo && selectedType === 'waypoints' && selectedIndex === i
          ? 1.0
          : 0.88
      "
    ></agm-marker>
    <ng-container *ngFor="let track of fileData?.tracks; let i1 = index">
      <agm-marker
        *ngFor="let point of track.points; let i2 = index"
        [latitude]="point.lat"
        [longitude]="point.lon"
        (dragEnd)="trackPointDrag($event, i1, i2)"
        (markerClick)="trackPointClick(i1, i2)"
        [opacity]="
          showPointInfo &&
          selectedType === 'tracks' &&
          selectedIndex === i1 &&
          subSelectedIndex === i2
            ? 1.0
            : 0.88
        "
        [markerDraggable]="true"
      ></agm-marker>
      <agm-polyline
        [strokeColor]="
          showPointInfo && selectedType === 'tracks' && selectedIndex === i1
            ? '#8B0000'
            : '#556B2F'
        "
        [strokeWeight]="
          showPointInfo && selectedType === 'tracks' && selectedIndex === i1
            ? 10
            : 5
        "
        (lineClick)="trackLineClick(i1)"
      >
        <agm-polyline-point
          *ngFor="let mapData of track.points"
          [latitude]="mapData.lat"
          [longitude]="mapData.lon"
        ></agm-polyline-point>
      </agm-polyline>
    </ng-container>
    <ng-container *ngFor="let route of fileData?.routes; let i1 = index">
      <agm-marker
        *ngFor="let point of route.points; let i2 = index"
        [latitude]="point.lat"
        [longitude]="point.lon"
        (dragEnd)="routePointDrag($event, i1, i2)"
        (markerClick)="routePointClick(i1, i2)"
        [opacity]="
          showPointInfo &&
          selectedType === 'routes' &&
          selectedIndex === i1 &&
          subSelectedIndex === i2
            ? 1.0
            : 0.88
        "
        [markerDraggable]="true"
      ></agm-marker>
      <agm-polyline
        [strokeColor]="
          showPointInfo && selectedType === 'routes' && selectedIndex === i1
            ? '#8B0000'
            : '#008B8B'
        "
        [strokeWeight]="
          showPointInfo && selectedType === 'routes' && selectedIndex === i1
            ? 10
            : 5
        "
        (lineClick)="routeLineClick(i1)"
      >
        <agm-polyline-point
          *ngFor="let mapData of route.points"
          [latitude]="mapData.lat"
          [longitude]="mapData.lon"
        ></agm-polyline-point>
      </agm-polyline>
    </ng-container>
  </agm-map>
  <!--    <ng-template #otherModes>-->
  <!--      <agm-map>-->
  <!--        <agm-direction-->
  <!--          *ngFor="let mapData of routes; let i = index"-->
  <!--          [origin]="mapData.start"-->
  <!--          [destination]="mapData.end"-->
  <!--          [markerOptions]="markerOptions"-->
  <!--          [renderOptions]="renderOptions"-->
  <!--          [travelMode]="travelMode"-->
  <!--        ></agm-direction>-->
  <!--      </agm-map>-->
  <!--    </ng-template>-->
</div>
<!--<div class="point-info mt-3">-->
<!--  <div class="row">-->
<!--    <div class="col-6">-->
<!--      <div class="d-flex gap-2">-->
<!--        <button-->
<!--          type="button"-->
<!--          class="btn btn-primary"-->
<!--          (click)="selectType('waypoints')"-->
<!--        >-->
<!--          Waypoints-->
<!--        </button>-->
<!--        <button-->
<!--          type="button"-->
<!--          class="btn btn-primary"-->
<!--          (click)="selectType('tracks')"-->
<!--        >-->
<!--          Tracks-->
<!--        </button>-->
<!--        <button-->
<!--          type="button"-->
<!--          class="btn btn-primary"-->
<!--          (click)="selectType('routes')"-->
<!--        >-->
<!--          Routes-->
<!--        </button>-->
<!--      </div>-->
<!--      &lt;!&ndash;      <select [(ngModel)]="travelMode" class="mt-2">&ndash;&gt;-->
<!--      &lt;!&ndash;        <option value="">Connect points only</option>&ndash;&gt;-->
<!--      &lt;!&ndash;        <option value="WALKING">Walking</option>&ndash;&gt;-->
<!--      &lt;!&ndash;        <option value="DRIVING">Driving</option>&ndash;&gt;-->
<!--      &lt;!&ndash;        <option value="BICYCLING">Bicycling</option>&ndash;&gt;-->
<!--      &lt;!&ndash;      </select>&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="col-6">-->
<!--      <h5>Selected {{ selectedType }}</h5>-->
<!--      <select-->
<!--        *ngIf="selectedType !== 'waypoints'"-->
<!--        (change)="indexChange($event)"-->
<!--        #indexSelect-->
<!--      >-->
<!--        <option *ngFor="let i of getIndexesToPrint()" [value]="i">-->
<!--          {{ i }}-->
<!--        </option>-->
<!--      </select>-->
<!--      <button-->
<!--        type="button"-->
<!--        class="ms-1"-->
<!--        *ngIf="selectedType !== 'waypoints'"-->
<!--        (click)="addIndex()"-->
<!--      >-->
<!--        Add {{ selectedType }}-->
<!--      </button>-->
<!--      <button-->
<!--        type="button"-->
<!--        class="ms-1"-->
<!--        *ngIf="selectedType !== 'waypoints'"-->
<!--        (click)="removeIndex()"-->
<!--      >-->
<!--        Remove {{ selectedType }}-->
<!--      </button>-->
<!--      <button type="button" class="ms-1" (click)="changeAddPoint()">-->
<!--        Add point-->
<!--      </button>-->
<!--      <p *ngFor="let point of getPointsToPrint(); let i = index">-->
<!--        <span-->
<!--          [class]="-->
<!--            selectedType === 'waypoints'-->
<!--              ? selectedIndex === i-->
<!--                ? 'font-weight-bold'-->
<!--                : ''-->
<!--              : subSelectedIndex === i-->
<!--              ? 'font-weight-bold'-->
<!--              : ''-->
<!--          "-->
<!--        >-->
<!--          Point {{ i + 1 }}: {{ point.lat }} {{ point.lon }}-->
<!--        </span>-->
<!--        <button (click)="removePoint(i)">X</button>-->
<!--      </p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
