<app-side-menu
  [backUrl]="
    backToDetail
      ? '/editor/' + id
      : backProject
      ? '/projects/' + backProject
      : '/editor'
  "
></app-side-menu>
<div class="map-div">
  <div class="information-table" *ngIf="getSelectedPoint() as selectedPoint">
    <div class="d-flex justify-content-center">
      <h4 *ngIf="selectedType === 'waypoints'">Bod {{ selectedIndex + 1 }}</h4>
      <h4 *ngIf="selectedType === 'tracks'">Trasa {{ selectedIndex + 1 }}</h4>
      <h4 *ngIf="selectedType === 'routes'">Cesta {{ selectedIndex + 1 }}</h4>
    </div>
    <ng-container *ngIf="getSelectedSection() as selectedSection">
      <span>Jméno: {{ selectedSection.name }}</span>
      <span>Popis: {{ selectedSection.desc }}</span>
      <span>Typ: {{ selectedSection.type }}</span>
      <span>Počet bodů: {{ selectedSection.points.length }}</span>
    </ng-container>
    <div
      class="d-flex justify-content-center mt-3"
      *ngIf="selectedType !== 'waypoints'"
    >
      <h6>Bod {{ subSelectedIndex + 1 }}</h6>
    </div>
    <ng-container *ngIf="selectedType === 'waypoints'">
      <span>Jméno {{ selectedPoint["name"] }}</span>
      <span>Popis: {{ selectedPoint["desc"] }}</span>
      <span>Komentář: {{ selectedPoint["cmt"] }}</span>
    </ng-container>
    <span>Lat: {{ selectedPoint.lat }}</span>
    <span>Lon: {{ selectedPoint.lon }}</span>
    <span *ngIf="selectedPoint.ele && selectedPoint.ele > 0"
      >Ele: {{ selectedPoint.ele }}</span
    >
    <span *ngIf="selectedPoint.time"
      >Time: {{ selectedPoint.time | date }}</span
    >
    <div
      class="d-flex justify-content-center mt-3"
      *ngIf="selectedType === 'waypoints'"
    >
      <button
        type="button"
        class="btn btn-warning"
        (click)="removePoint(selectedIndex)"
      >
        Smazat bod
      </button>
    </div>
    <div
      class="d-flex gap-2 justify-content-center mt-3"
      *ngIf="selectedType !== 'waypoints'"
    >
      <button
        type="button"
        class="btn btn-warning"
        (click)="removePoint(subSelectedIndex)"
      >
        Smazat bod
      </button>
      <button
        type="button"
        class="btn btn-danger"
        *ngIf="selectedType === 'routes'"
        (click)="RemoveGroup()"
      >
        Smazat cestu
      </button>
      <button
        type="button"
        class="btn btn-danger"
        *ngIf="selectedType === 'tracks'"
        (click)="RemoveGroup()"
      >
        Smazat trasu
      </button>
    </div>
  </div>
  <div class="side-menu gap-3">
    <div class="d-flex justify-content-center align-items-center">
      <h4>Informace</h4>
    </div>
    <select
      class="form-select"
      [(ngModel)]="selectedType"
      (ngModelChange)="showPointInfo = false"
    >
      <option value="waypoints">Body</option>
      <option value="tracks">Trasy</option>
      <option value="routes">Cesty</option>
    </select>
    <mat-slide-toggle [(ngModel)]="addPoint"
      >Mód přidávání bodů</mat-slide-toggle
    >
    <button
      (click)="addGroup()"
      class="btn btn-primary"
      *ngIf="selectedType !== 'waypoints'"
    >
      Přidat {{ selectedType === "tracks" ? "trasu" : "cestu" }}
    </button>
    <div class="d-flex flex-column gap-2">
      <ng-container *ngIf="selectedType === 'waypoints'">
        <div
          *ngFor="let point of fileData?.waypoints; let i = index"
          class="d-flex flex-column cursor-pointer"
          (click)="waypointClick(i)"
        >
          <span
            [ngClass]="
              selectedIndex === i && showPointInfo ? 'font-weight-bold' : ''
            "
            >Bod {{ i + 1 }}</span
          >
          <span>Jméno: {{ point.name }}</span>
        </div>
      </ng-container>
      <ng-container *ngIf="selectedType === 'tracks'">
        <div
          *ngFor="let group of fileData?.tracks; let i = index"
          class="d-flex flex-column cursor-pointer"
          (click)="trackPointClick(i, 0)"
        >
          <span
            [ngClass]="
              selectedIndex === i && showPointInfo ? 'font-weight-bold' : ''
            "
            >Trasa {{ i + 1 }}</span
          >
          <span>Jméno: {{ group.name }}</span>
          <span>Počet bodů: {{ group.points.length }}</span>
        </div>
      </ng-container>
      <ng-container *ngIf="selectedType === 'routes'">
        <div
          *ngFor="let group of fileData?.routes; let i = index"
          class="d-flex flex-column cursor-pointer"
          (click)="routePointClick(i, 0)"
        >
          <span
            [ngClass]="
              selectedIndex === i && showPointInfo ? 'font-weight-bold' : ''
            "
            >Cesta {{ i + 1 }}</span
          >
          <span>Jméno: {{ group.name }}</span>
          <span>Počet bodů: {{ group.points.length }}</span>
        </div>
      </ng-container>
    </div>
  </div>
  <agm-map
    *ngIf="fileData && lat && lng"
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    (mapClick)="mapClick($event)"
    (mapRightClick)="mapRightClick()"
    [streetViewControl]="false"
  >
    <agm-marker
      *ngFor="let point of fileData?.waypoints; let i = index"
      [latitude]="point.lat"
      [longitude]="point.lon"
      (dragEnd)="waypointDrag($event, i)"
      (markerClick)="waypointClick(i)"
      (markerRightClick)="waypointRightClick(i)"
      [markerDraggable]="true"
      [opacity]="
        showPointInfo && selectedType === 'waypoints' && selectedIndex === i
          ? 1.0
          : 0.88
      "
    ></agm-marker>
    <ng-container *ngFor="let track of fileData?.tracks; let i1 = index">
      <agm-marker
        *ngFor="let point of track.points; let i2 = index"
        [latitude]="point.lat"
        [longitude]="point.lon"
        (dragEnd)="trackPointDrag($event, i1, i2)"
        (markerClick)="trackPointClick(i1, i2)"
        (markerRightClick)="trackPointRightClick(i1, i2)"
        [opacity]="
          showPointInfo &&
          selectedType === 'tracks' &&
          selectedIndex === i1 &&
          subSelectedIndex === i2
            ? 1.0
            : 0.88
        "
        [markerDraggable]="true"
      ></agm-marker>
      <agm-polyline
        [strokeColor]="
          showPointInfo && selectedType === 'tracks' && selectedIndex === i1
            ? '#8B0000'
            : '#556B2F'
        "
        [strokeWeight]="
          showPointInfo && selectedType === 'tracks' && selectedIndex === i1
            ? 10
            : 5
        "
        (lineClick)="trackLineClick(i1)"
      >
        <agm-polyline-point
          *ngFor="let mapData of track.points"
          [latitude]="mapData.lat"
          [longitude]="mapData.lon"
        ></agm-polyline-point>
      </agm-polyline>
    </ng-container>
    <ng-container *ngFor="let route of fileData?.routes; let i1 = index">
      <agm-marker
        *ngFor="let point of route.points; let i2 = index"
        [latitude]="point.lat"
        [longitude]="point.lon"
        (dragEnd)="routePointDrag($event, i1, i2)"
        (markerClick)="routePointClick(i1, i2)"
        (markerRightClick)="routePointRightClick(i1, i2)"
        [opacity]="
          showPointInfo &&
          selectedType === 'routes' &&
          selectedIndex === i1 &&
          subSelectedIndex === i2
            ? 1.0
            : 0.88
        "
        [markerDraggable]="true"
      ></agm-marker>
      <agm-polyline
        [strokeColor]="
          showPointInfo && selectedType === 'routes' && selectedIndex === i1
            ? '#8B0000'
            : '#008B8B'
        "
        [strokeWeight]="
          showPointInfo && selectedType === 'routes' && selectedIndex === i1
            ? 10
            : 5
        "
        (lineClick)="routeLineClick(i1)"
      >
        <agm-polyline-point
          *ngFor="let mapData of route.points"
          [latitude]="mapData.lat"
          [longitude]="mapData.lon"
        ></agm-polyline-point>
      </agm-polyline>
    </ng-container>
  </agm-map>
</div>
