<app-side-menu backUrl="/projects"></app-side-menu>
<div class="details" *ngIf="projectToShow && gpxFiles">
  {{ projectToShow.id }}<br />
  {{ projectToShow.name }}<br />
  {{ projectToShow.users | json }}
  <div *ngFor="let gpxFileId of projectToShow.gpxFileIds; let i = index">
    <p>{{ gpxFiles[i].metadata.name }}</p>
    <button
      type="button"
      class="btn btn-secondary"
      [routerLink]="'/editor/' + gpxFileId"
      [queryParams]="{ backProject: projectToShow.id }"
    >
      Show
    </button>
  </div>
  <button
    type="button"
    class="btn btn-secondary"
    [routerLink]="'/editor/' + projectToShow.id + '?project=true'"
  >
    Show all
  </button>
</div>
