<app-side-menu></app-side-menu>
<div class="action-menu flex-column flex-md-row">
  <button type="button" class="btn btn-primary" (click)="addNewGroup()">Vytvořit novou skupinu bodů</button>
  <button type="button" class="btn btn-dark d-flex justify-content-center gap-2" (click)="uploadFile()">
    <mat-icon>cloud_upload</mat-icon><span>Nahrát GPX soubor</span>
  </button>
</div>
<mat-divider class="mt-2"></mat-divider>
<h2 class="mt-3">Mé soubory</h2>
<ng-container *ngIf="pointGroups$ | async as pointGroups">
  <div class="list justify-content-center justify-content-md-start" *ngIf="pointGroups.length > 0">
    <div *ngFor="let group of pointGroups">
      <p class="id-show m-0">ID: {{ group.id }}</p>
      <p>{{ group.name }}</p>
      <p class="description">{{ group.description }}</p>

      <button type="button" class="btn btn-primary my-1" [routerLink]="group.id">Detail</button>

      <div class="d-flex flex-row gap-2 mt-1">
        <button type="button" class="btn btn-primary d-flex" [routerLink]="'map/' + group.id">
          <mat-icon>map</mat-icon>
        </button>
        <button type="button" class="btn btn-secondary d-flex" (click)="exportToFile(group.id)">
          <mat-icon>cloud_download</mat-icon>
        </button>
        <button type="button" class="btn btn-danger d-flex" (click)="removeGroup(group.id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>
    </div>
  </div>
</ng-container>
<mat-divider class="mt-5"></mat-divider>
<ng-container *ngIf="sharedPointGroups$ | async as sharedPointGroups">
  <h2 class="mt-3">Sdílené soubory</h2>
  <div class="list justify-content-center justify-content-md-start">
    <div *ngFor="let group of sharedPointGroups">
      <p class="id-show m-0">ID: {{ group.id }}</p>
      <p>{{ group.name }}</p>
      <p class="description">{{ group.description }}</p>

      <button type="button" class="btn btn-primary my-1" [routerLink]="group.id">Detail</button>

      <div class="d-flex flex-row gap-2 mt-1">
        <button type="button" class="btn btn-primary d-flex" [routerLink]="'map/' + group.id">
          <mat-icon>map</mat-icon>
        </button>
        <button type="button" class="btn btn-secondary d-flex" (click)="exportToFile(group.id)">
          <mat-icon>cloud_download</mat-icon>
        </button>
        <button type="button" class="btn btn-danger d-flex" (click)="removeGroup(group.id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>
    </div>
  </div>
</ng-container>
