<app-side-menu></app-side-menu>
<div class="action-menu flex-column flex-md-row" *ngIf="ownedFiles$ | async as ownedFiles">
  <button type="button" class="btn btn-primary" (click)="addNewGroup()" [disabled]="ownedFiles.length > 10">
    Vytvořit nový GPX soubor
  </button>
  <button
    type="button"
    class="btn btn-dark d-flex justify-content-center gap-2"
    (click)="uploadFile()"
    [disabled]="ownedFiles.length > 10"
  >
    <mat-icon>cloud_upload</mat-icon><span>Nahrát GPX soubor</span
    >{{ ownedFiles.length > 10 ? ' (max. 10 souborů)' : '' }}
  </button>
</div>
<mat-divider class="mt-2"></mat-divider>
<h2 class="mt-3">Mé soubory</h2>
<ng-container *ngIf="ownedFiles$ | async as ownedFiles; else loading">
  <div class="list justify-content-center justify-content-md-start" *ngIf="ownedFiles.length > 0">
    <div *ngFor="let file of ownedFiles" class="card">
      <p class="id-show m-0">ID: {{ file.id }}</p>
      <p>{{ file.name }}</p>
      <p class="description">{{ file.description }}</p>

      <button type="button" class="btn btn-primary my-1" [routerLink]="file.id">Detail</button>

      <div class="d-flex flex-row w-auto gap-2 mt-1">
        <button type="button" class="btn btn-primary d-flex" [routerLink]="'map/' + file.id">
          <mat-icon>map</mat-icon>
        </button>
        <button type="button" class="btn btn-secondary d-flex" (click)="exportToFile(file.id)">
          <mat-icon>cloud_download</mat-icon>
        </button>
        <button type="button" class="btn btn-danger d-flex" (click)="removeGroup(file.id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <div class="d-flex justify-content-center mt-5">
    <mat-spinner diameter="100"></mat-spinner>
  </div>
</ng-template>
<ng-container *ngIf="sharedFiles$ | async as sharedFiles">
  <ng-container *ngIf="sharedFiles.length > 0">
    <mat-divider class="mt-5"></mat-divider>
    <h2 class="mt-3">Sdílené soubory</h2>
    <div class="list justify-content-center justify-content-md-start">
      <div *ngFor="let file of sharedFiles" class="card">
        <p class="id-show m-0">ID: {{ file.id }}</p>
        <p>{{ file.name }}</p>
        <p class="description">{{ file.description }}</p>

        <button type="button" class="btn btn-primary my-1" [routerLink]="file.id">Detail</button>

        <div class="d-flex flex-row w-auto gap-2 mt-1">
          <button type="button" class="btn btn-primary d-flex" [routerLink]="'map/' + file.id">
            <mat-icon>map</mat-icon>
          </button>
          <button type="button" class="btn btn-secondary d-flex" (click)="exportToFile(file.id)">
            <mat-icon>cloud_download</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
