<h4 mat-dialog-title>Spojení skupiny bodů</h4>
<div *ngIf="error" class="alert alert-danger mt-2" role="alert">{{ error }}</div>
<div mat-dialog-content class="d-flex flex-column gap-2 mt-2" *ngIf="fileToSplit">
  <select class="form-control mt-1" [(ngModel)]="joinData.type" minlength="10" maxlength="10">
    <option value="" disabled>Vyberte typ skupiny pro spojení</option>
    <option value="tracks" *ngIf="fileToSplit.tracks.length > 1">Stopy</option>
    <option value="routes" *ngIf="fileToSplit.routes.length > 1">Trasy</option>
  </select>

  <select class="form-control" [(ngModel)]="joinData.groupIndex1" minlength="10" maxlength="10">
    <option value="" disabled>Vyberte první skupinu</option>
    <option *ngFor="let pointGroup of fileToSplit[joinData.type]; let i = index" [value]="i">
      {{ pointGroup.name }} (Počet bodů: {{ pointGroup.points.length }})
    </option>
  </select>

  <select class="form-control" [(ngModel)]="joinData.groupIndex2" minlength="10" maxlength="10">
    <option value="" disabled>Vyberte druhou skupinu</option>
    <option *ngFor="let pointGroup of fileToSplit[joinData.type]; let i = index" [value]="i">
      {{ pointGroup.name }} (Počet bodů: {{ pointGroup.points.length }})
    </option>
  </select>

  <div class="d-flex align-self-end gap-2">
    <button type="button" class="btn btn-secondary" (click)="cancelClick()">Zrušit</button>
    <button type="button" class="btn btn-danger" (click)="confirmClick()">Spojit</button>
  </div>
</div>
