<h4 mat-dialog-title>Přesun/Kopírování do jiného souboru</h4>
<div *ngIf="error" class="alert alert-danger mt-2" role="alert">{{ error }}</div>
<div mat-dialog-content class="d-flex flex-column gap-2 mt-2">
  <select class="form-control mt-1" [(ngModel)]="exportData.fileToMoveTo" minlength="10" maxlength="10">
    <option value="" disabled>
      Vyberte soubor do kterého vybrané {{ exportData.removeFromOld ? 'přesunout' : 'kopírovat' }}
    </option>
    <option *ngFor="let file of files" [value]="file.id">{{ file.name }}</option>
  </select>

  <div class="mt-2">
    <mat-slide-toggle id="removeFromOld" [(ngModel)]="exportData.removeFromOld"
      >Odstranit z originálního souboru? (Přesun vs Kopírování)</mat-slide-toggle
    >
  </div>

  <h5 class="mt-3">Body zájmu</h5>
  <ng-container *ngIf="fileToExtractFrom.waypoints.length > 0; else noWaypoints">
    <div class="d-flex justify-content-between" *ngFor="let waypoint of fileToExtractFrom.waypoints; let i = index">
      <div class="d-flex flex-column">
        <span>Bod zájmu {{ i + 1 }}</span>
        <span>Jméno: {{ waypoint.name }}</span>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          [(ngModel)]="exportData.waypoints[i].isExported"
          [id]="'waypoint' + i"
        />
        <label class="form-check-label" [for]="'waypoint' + i">
          {{ exportData.removeFromOld ? 'Přesunout' : 'Kopírovat' }}
        </label>
      </div>
    </div>
  </ng-container>
  <ng-template #noWaypoints>
    <p>Tento soubor neobsahuje žádné body zájmu</p>
  </ng-template>

  <h5 class="mt-3">Stopy</h5>
  <ng-container *ngIf="fileToExtractFrom.tracks.length > 0; else noTracks">
    <div class="d-flex justify-content-between" *ngFor="let group of fileToExtractFrom.tracks; let i = index">
      <div class="d-flex flex-column">
        <span>Stopa {{ i + 1 }}</span>
        <span>Jméno: {{ group.name }}</span>
        <span>Počet bodů: {{ group.points.length }}</span>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          [(ngModel)]="exportData.tracks[i].isExported"
          [id]="'track' + i"
        />
        <label class="form-check-label" [for]="'track' + i">
          {{ exportData.removeFromOld ? 'Přesunout' : 'Kopírovat' }}
        </label>
      </div>
    </div>
  </ng-container>
  <ng-template #noTracks>
    <p>Tento soubor neobsahuje žádné stopy</p>
  </ng-template>

  <h5 class="mt-3">Trasy</h5>
  <ng-container *ngIf="fileToExtractFrom.routes.length > 0; else noRoutes">
    <div class="d-flex justify-content-between" *ngFor="let group of fileToExtractFrom.routes; let i = index">
      <div class="d-flex flex-column">
        <span>Trasa {{ i + 1 }}</span>
        <span>Jméno: {{ group.name }}</span>
        <span>Počet bodů: {{ group.points.length }}</span>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          [(ngModel)]="exportData.routes[i].isExported"
          [id]="'track' + i"
        />
        <label class="form-check-label" [for]="'route' + i">
          {{ exportData.removeFromOld ? 'Přesunout' : 'Kopírovat' }}
        </label>
      </div>
    </div>
  </ng-container>
  <ng-template #noRoutes>
    <p>Tento soubor neobsahuje žádné trasy</p>
  </ng-template>

  <div class="d-flex align-self-end gap-2">
    <button type="button" class="btn btn-secondary" (click)="cancelClick()">Zrušit</button>
    <button type="button" class="btn btn-danger" (click)="confirmClick()">
      {{ exportData.removeFromOld ? 'Přesunout' : 'Kopírovat' }}
    </button>
  </div>
</div>
