.action-menu {
  display: flex;
  justify-content: center;
  margin-left: 60px;
  margin-top: 40px;

  button {
    margin: 10px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 60px;

  div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    margin: 40px 10px 0 10px;

    p {
      font-size: 30px;
      text-align: center;
    }

    .id-show {
      color: gray;
      font-size: small;
    }

    .description {
      color: gray;
      font-size: small;
      margin-top: -15px;
    }
  }
}
