<app-side-menu></app-side-menu>
<div class="action-menu">
  <button type="button" class="btn btn-primary" (click)="newProject()">
    Add new project
  </button>
</div>
<div class="list" *ngIf="listOfProjects.length > 0">
  <div *ngFor="let project of listOfProjects">
    <p>{{ project.name }}</p>
    <button type="button" class="btn btn-secondary" [routerLink]="project.id">
      Show
    </button>
    <button
      type="button"
      class="btn btn-danger mt-1"
      (click)="deleteProject(project.id)"
    >
      Remove
    </button>
  </div>
</div>
